/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/

resources/public/js
currency_client/node_modules
currency_client/.shadow-cljs
/target
/checkouts
/src/gen
.calva/output-window
pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store

.hgignore
.hg/
currency_client/.calva/output-window/output.repl-file
currency_client/.calva/output-window/.clj-kondo/.cache/2020.07.29/lock
